{% set navs = [
    {
        name: 'Home',
        url: '/'
    },
    {
        name: 'All Questions',
        url: '/questions/'
    },
    {
        name: 'Playlists',
        url: '/playlists/'
    },
    {
        name: 'All Tags',
        url: '/tags/'
    },
    {
        name: 'Contributing',
        url: '/contributing/'
    }
] %}
<nav class="site-nav">
{% for nav in navs %}
<a href="{{nav.url | url}}" class="{{'active-nav' if page.url == nav.url}}"> {{nav.name}} </a>
{% endfor %}
</nav>