---
layout: "_layouts/base.njk"
permalink: /tags/
title: Tags
---
<h1>All Tags</h1>
<ul>
{% set tagslist = tagsList %}
{% for tag, tagdata in tagslist %}
  <a class="badge tag-{{tag}}" href="{{ '/tag/' | url }}{{ tag }}">{{ tag }}</a>
{% endfor %}
</ul>