{% extends "_layouts/base.njk" %}
{%- block content -%}

{% block heading %}
<h1>{{ title }}</h1>

<div class="tags">
    {%- for tag in tags -%}
    <a class= "badge tag-{{tag}}" href="{{'/tag/' | url}}{{ tag }}">{{ tag }}</a>
    {% endfor %}
</div>

{% endblock heading %}

<div class="question">
    <h2>Question</h2>
    {% block question %}{% endblock question %}
</div> <br>

<div class="hints">
    <div class="accordion">
        <h2>Hints</h2>
    </div>
    <div class="accordion-panel">
        {% block hints %}{% endblock hints %}
</div>
</div>
<br>
<div class="answer">
    <div class="accordion">
        <h2>Answer</h2>
    </div>
    <div class="accordion-panel">
        {% block answer %}{% endblock answer %}
</div>
</div>


<link rel="stylesheet" href="{{ '/assets/css/accordion.css' | url }}">
<script src="{{ '/assets/js/accordion.js' | url }}"></script>
{%- endblock content -%}