{% extends "_layouts/base.njk" %}
{% block content %}

{% block heading %}
<h1>{{ title }}</h1>

{% endblock heading %}
<h2>Question</h2>
{% block question %}{% endblock question %} <br>
<h2>Hints</h2>

{% block hints %}{% endblock hints %} <br>
<h2>Answer</h2>

{% block answer %}{% endblock answer %} <br>
{% endblock content %}