{% extends "_layouts/base.njk" %}
{% block content %}

{% block heading %}
<h1>{{ title }}</h1>
{% endblock heading %}

{% block question %}{{content | latex | safe}}{% endblock question %} <br>
{% block hints %}{% endblock hints %} <br>
{% block answer %}{% endblock answer %} <br>

{% endblock content %}
...