---
title: Home
layout: _layouts/base.njk
permalink: "/"
---

<h1>Welcome</h1>

<a href="{{'/questions/' | url}}">All Questions</a> <br>
<a href="{{'/playlists/' | url}}">All Playlists</a> <br>
<a href="{{'/tags/' | url}}">All Tags</a> <br>
<a href="{{'/contributing/' | url}}">Contributing</a> 